body {
  background-color: #7fa9bf;
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
  margin: 0;
}

div.react-sample-container {
  margin: 5em auto;
  width: 30em;

  .application-header {
    text-align: center;
  }
}
